* {
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: rgba(3, 151, 3, 0.541);
  padding: 0px;
  margin: 0px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
#listar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.form {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form dl {
  margin: 0;
  padding: 0;
}

form dl dt {
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 25px;
}

form dl dd {
  margin: 0 0 5px 0;
}

form input[type="submit"] {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

.mensaje {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
}

.mensaje b {
  color: #336699;
}

.mensaje p {
  margin: 5px 0;
}
.horaMensaje {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  color: #888;
  font-size: 13px;
}

.listarProds {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 20px;
  padding-top: 40px;
}
.divProd {
  margin: 0 auto;
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
nav {
  margin: 0px;
  position: sticky;
  top: -10px;
  height: 50px;
  background-color: #f1f1f1;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  transition: height 0.3s;
}

nav.scroll {
  height: 40px;
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  font-weight: bold;
}
.prodDetail {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detailProd {
  margin-bottom: 10px;
}

.detailProd b {
  font-size: 18px;
  margin-bottom: 5px;
}

.detailProd p {
  font-size: 14px;
  margin-bottom: 3px;
}

.detailProd p b {
  font-weight: bold;
}

.detailProd p:last-child {
  margin-bottom: 0;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination a,
.pagination span {
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #f5f5f5;
}

.pagination span.current-page {
  background-color: #ccc;
  cursor: default;
}

.pagination span.disabled {
  color: #888;
  cursor: not-allowed;
}
