<form id="createUserForm">
  <input type="text" id="email" name="email" placeholder="Email" />
  <input type="text" id="nickname" name="nickname" placeholder="Nickname" />
  <input type="file" id="photo" name="photo" accept="image/*" />
  <button type="submit">Crear Usuario</button>
</form>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"
  integrity="sha512-AI5A3zIoeRSEEX9z3Vyir8NqSMC1pY7r5h2cE+9J6FLsoEmSSGLFaqMQw8SWvoONXogkfFrkQiJfLeHLz3+HOg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="js/user.js"></script>