<div>
  <h1>Login</h1>
  {{#if error}}
    <p>{{error}}</p>
  {{/if}}
  <form action="/api/users/login" method="POST">
    <div>
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <input type="submit" value="LOGIN" />
  </form>
</div>
<h2>New user</h2>
<button onclick="location.href='/api/signup'">SIGNUP</button>